* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #fff;
    color: #333;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 10%;
}

.logo {
    font-weight: 700;
    font-size: 1.5rem;
    color: #222;
}

.logo span {
    color: #4f46e5;
}

nav ul {
    display: flex;
    gap: 2rem;
    list-style: none;
}

nav ul a {
    text-decoration: none;
    color: #555;
    font-weight: 500;
    transition: 0.3s;
}

nav ul a:hover,
.active {
    color: #4f46e5;
}

.contact-btn {
    padding: 0.7rem 1.5rem;
    background-color: #4f46e5;
    color: white;
    border-radius: 25px;
    text-decoration: none;
    font-weight: 500;
    margin-left: 1rem;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5% 10%;
    gap: 2rem;
    flex: 1;
}

.hero-text {
    max-width: 50%;
}

.intro {
    color: #333;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.hero-text h1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.highlight {
    color: #4f46e5;
}

.subtext {
    font-size: 1rem;
    color: #777;
    margin-bottom: 2rem;
    line-height: 1.6;
}

.buttons {
    display: flex;
    gap: 1rem;
}

.btn {
    padding: 0.8rem 2rem;
    border-radius: 25px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
}

.blue {
    background-color: #4f46e5;
    color: #fff;
}

.outline {
    border: 2px solid #4f46e5;
    color: #4f46e5;
}

.hero-image {
    position: relative;
    max-width: 400px;
}

.hero-image img {
    width: 100%;
    border-radius: 10px;
}

.tag {
    position: absolute;
    background: #4f46e5;
    color: #fff;
    padding: 0.4rem 1rem;
    border-radius: 20px;
    font-size: 0.75rem;
}

.web {
    top: 20%;
    left: -20px;
}

.uiux {
    bottom: 10%;
    right: -20px;
}

.skills {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 1.5rem;
    background-color: #4f46e5;
    color: white;
    font-weight: 500;
    flex-wrap: wrap;
    margin-top: auto;
}